html {
    height: 100%
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.app {
    text-align: center;
    height: 100vh;
}

.styleButtons {
    padding-bottom: 8rem;
    padding-top: 3rem;
}

.style1 {
    width: 80px;
    height: 33px;
    border-radius: 50%;
}
.style2 {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80px;
    height: 33px;
    border-radius: 50%;
}
.style3 {
    width: 80px;
    height: 33px;
    border-radius: 50%;
}

.startPage {
    display: flex;
    flex-direction: column;
}
.name {
    padding-bottom: 2rem;
}
.input {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.button {
    width: 100px;
    padding-left: 10px;
    background-color: white;
}
.footer {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}


.letterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hallo {
    padding-top: 2rem;
}
.text {
    padding-bottom: 1rem;
}
.start {
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.letter {
    font-size: ;
    font-weight: bolder;
}
